
@{
    ViewBag.Title = "_HttpTools";
}
<style>
    
    .item-top  a{
        margin: 0 20px; 
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">专业版模拟HTTP请求工具</h4>
                <div id="desc1">模拟发送HTTP协议的POST或GET请求,支持设置各项参数</div>
            </div>
        </div>

    </div>
    <p class="lead">...</p>
    <div class="panel-body">
        
    </div>
    <div class="panel-footer"></div>
</div>
