
@{
    ViewBag.Title = "_HttpTools";
}
<style>
    
    .item-top  a{
        margin: 0 20px; 
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">专业版模拟HTTP请求工具</h4>
                <div id="desc1">模拟发送HTTP协议的POST或GET请求,支持设置各项参数</div>
            </div>
        </div>

    </div>
    <p class="lead">...</p>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" style="">
                <div class="input-group item-top">
                    <a class="btn btn-default btn-lg" href="https://www.getpostman.com/" target="_blank">
                        <i class="glyphicon glyphicon-link" aria-hidden="true"></i>PostMan地址
                    </a>

                    <a class="btn btn-default btn-lg" href="http://qn.bejson.com/HttpTools1.4.exe" target="_blank">
                        <i class="glyphicon glyphicon-save" aria-hidden="true"></i>最新下载
                    </a>
                    <a class="btn btn-default btn-lg" href="http://qn.bejson.com/HttpTools1.4.exe" target="_blank">
                        <i class="glyphicon glyphicon-save" aria-hidden="true"></i>源码分享
                    </a>
                </div>
            </li>
          
            <li class="list-group-item" style="text-align: center;">
                <h4>更新</h4>
            </li>
            <li class="list-group-item">
                v1.4
                <ol>
                    <li>请求改为异步</li>
                    <li>...</li>
                   
                    <li>...</li>
                    <li>...</li>
                </ol>
            </li>
            <li class="list-group-item" style="text-align: center;">
                <img src="http://b.hiphotos.baidu.com/image/pic/item/faedab64034f78f02e3dbe6875310a55b3191c72.jpg" style="width: 96%">
            </li>
           
        </ul>
    </div>
    <div class="panel-footer"></div>
</div>
