
@{
    ViewBag.Title = "_OtherTool";
}
<link href="~/assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">工具网址</h4>
                <div id="desc1">一些处理工具网址</div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <ul class="list-inline">
            <li>
                <a href="http://www.bejson.com/" target="_blank" data-toggle="tooltip" title="" data-original-title="在线,JSON,JSON 校验,格式化,xml转json 工具,在线工具,json视图,可视化,程序,服务器,域名注册,正则表达式,测试,在线json格式化工具,json 格式化,json格式化工具,json字符串格式化,json 在线查看器,json在线,json 在线验证,json tools online,在线文字对比工具。">
                    <h2>在线JSON校验格式化工具</h2>
                </a>




            </li>
            <li>
                <a href="http://www.bejson.com/" target="_blank" data-toggle="tooltip" title="" data-original-title=" 检测SSL是否安全，在线提供对称算法、非对称算法、Hash算法、CSR，证书链，SSL配置生成等工具。">
                    <h2>SSL在线工具</h2>
                </a>

            </li>
            @for (int i = 0; i < 20; i++)
            {
                <li>
                    <a href="http://www.ssleye.com/" target="_blank" data-toggle="tooltip" title="" data-original-title="Default tooltip @("ssleye" + i)">
                        <h2>@("ssleye" + i)</h2>
                    </a>

                </li>
            }


        </ul>

    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>