
@{
    ViewBag.Title = "Index";
}

<h2>工具详细首页</h2>
<link href="~/assets/bootstrap/css/bootstrap.vertical-tabs.min.css" rel="stylesheet" />
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<div class="row">
    <div class="col-xs-2">
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#otherTool" data-toggle="tab">工具网站</a></li>
            <li><a href="#codeFormat" data-toggle="tab">代码格式化</a></li>
            <li><a href="#userAgent" data-toggle="tab">浏览器 User-Agent</a></li>

            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
    </div>
    <div class="col-xs-10">
        <div class="tab-content">
            <div class="tab-pane active" id="otherTool">
                @Html.Partial("_OtherTool")
            </div>
            <div class="tab-pane" id="codeFormat">
                @Html.Partial("_CodeFormat")
            </div>
            <div class="tab-pane" id="userAgent">
                @Html.Partial("_UserAgent")
            </div>
            <div class="tab-pane" id="messages">
                @Html.Partial("_UserAgent")
            </div>
            <div class="tab-pane" id="settings">Settings Tab.</div>
        </div>
    </div>
</div>


 



