#################
## Visual Studio
#################
  
#######################
## Sop
###########

/src/Sop.Web/Web.config
/src/.vs
/src/Web/bin
/src/packages
/src/Sop.Core/obj
/src/Sop.Services/obj
/src/Sop.Services/bin
/src/Sop.Web/obj
/src/Sop.Web/App_Data/sopcce.com
/src/Tests/Sop.Framework.Test/bin
/src/Tests/Sop.Framework.Test/obj
/src/Sop.Core/bin
/src/Sop.Framework/obj
/src/Sop.Web/Uploads
/src/Sop.Plugin/Sop.Upload/bin
/src/Sop.Plugin/Sop.Upload/obj
/src/Sop.Framework/bin
/src/Sop.Plugin/Sop.Upload/Uploads
/src/Sop.Plugin/Sop.Upload/Web.config
/src/Sop.Plugin/Sop.Upload/Web.Debug.config
/src/Sop.Plugin/Sop.Upload/Web.Release.config
/src/ThirdParty/Microsoft.Owin.Security.Github/bin
/src/ThirdParty/Microsoft.Owin.Security.Github/obj
/src/ThirdParty/Microsoft.Owin.Security.QQ/obj
/src/ThirdParty/Microsoft.Owin.Security.QQ/bin
/src/ThirdParty/Microsoft.Owin.Security.Weixin/bin
/src/ThirdParty/Microsoft.Owin.Security.Weixin/obj
/src/ThirdParty/Microsoft.Owin.Security.Weixin/obj
/src/ThirdParty/Microsoft.Owin.Security.Weixin/bin
/src/ThirdParty/NHibernate.Cache.DynamicCacheBuster/bin
/src/ThirdParty/NHibernate.Cache.DynamicCacheBuster/obj
/src/ThirdParty/NHibernate.Caches.Redis/bin
/src/ThirdParty/NHibernate.Caches.Redis/obj
/src/ThirdParty/Owin.Security.Providers.Baidu/bin
/src/ThirdParty/Owin.Security.Providers.Baidu/obj
/src/ThirdParty/Owin.Security.Providers.GitHub/obj
/src/ThirdParty/Owin.Security.Providers.GitHub/bin
/src/ThirdParty/Owin.Security.Providers.LinkedIn/obj
/src/ThirdParty/Owin.Security.Providers.LinkedIn/bin
/src/Tests/Sop.Web.Tests/bin
/src/Tests/Sop.Web.Tests/obj
/src/packages
/src/Plugin/Sop.Upload/obj
/src/Plugin/Sop.Upload/bin
/src/Sop.Web/App_Data/sopcce.com
/bak
/src/Plugin/Sop.Upload/App_Data/sopcce.com
/src/Plugin/Sop.Upload/Uploads
/src/Sop.ConsoleBot/bin
/src/Sop.ConsoleBot/obj
/src/Plugin/Sop.ConsoleBot/bin
/src/Plugin/Sop.ConsoleBot/obj
/src/Plugin/Sop.FileServer/obj
/src/Plugin/Sop.ConsoleBot/AppData/Aspose
/src/Plugin/Sop.ConsoleBotServer/AppData/Aspose/Aspose.Cells.dll
/src/Plugin/Sop.ConsoleBotServer/AppData/Aspose/Aspose.Pdf.dll
/src/Plugin/Sop.ConsoleBotServer/AppData/Aspose/Aspose.Slides.dll
/src/Plugin/Sop.ConsoleBotServer/AppData/Aspose/Aspose.Words.dll
/src/Plugin/Sop.ConsoleBotServer/obj
/src/Plugin/Sop.ConsoleBotServer/bin
/src/Plugin/Sop.ConsoleBotServer/AppData/Aspose.Total.lic
/src/Plugin/Sop.ConsoleBotServer/AppData/*.lic
/src/Plugin/Sop.ConsoleBotServer/AppData/Aspose/*.lic
/src/ThirdParty/Sop.Common.Serialization/obj
/src/ThirdParty/Sop.Common.Serialization/bin
/src/Sop.Core/bin
/src/Sop.Core/obj
/src/Plugin/ItemDoc.ConsoleBotServer/obj/Debug/ItemDoc.ConsoleBotServer.csproj.CoreCompileInputs.cache
/src/Plugin/ItemDoc.ConsoleBotServer/obj/Debug/ItemDoc.ConsoleBotServer.csprojAssemblyReference.cache
/src/Plugin/ItemDoc.ConsoleBotServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Plugin/ItemDoc.ConsoleBotServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Plugin/ItemDoc.ConsoleBotServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Plugin/ItemDoc.Upload/obj/Debug/ItemDoc.Upload.csproj.CoreCompileInputs.cache
/src/Plugin/ItemDoc.Upload/obj/Debug/ItemDoc.Upload.csproj.FileListAbsolute.txt
/src/Plugin/ItemDoc.Upload/obj/Debug/ItemDoc.Upload.csprojAssemblyReference.cache
/src/Plugin/ItemDoc.Upload/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Plugin/ItemDoc.Upload/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Plugin/ItemDoc.Upload/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
