#################
## Visual Studio
#################
  
#######################
## Sop
###########


/src/.vs 
/src/packages
/src/.vs
###########
/src/Sop.Framework/obj
/src/Sop.Framework/bin
/src/Sop.Services/obj
/src/Sop.Services/bin
/src/Sop.Core/obj
/src/Sop.Core/bin
/src/Web/bin
/src/Web/obj
/src/Web/Web.config
###########
/src/ThirdParty/Aliyun.OSS/obj
/src/ThirdParty/Aliyun.OSS/bin
/src/ThirdParty/Microsoft.Owin.Security.Github/obj
/src/ThirdParty/Microsoft.Owin.Security.Github/bin
/src/ThirdParty/Microsoft.Owin.Security.QQ/obj
/src/ThirdParty/Microsoft.Owin.Security.QQ/bin
/src/ThirdParty/Microsoft.Owin.Security.Weixin/obj
/src/ThirdParty/Microsoft.Owin.Security.Weixin/bin
/src/ThirdParty/NHibernate.Cache.DynamicCacheBuster/obj
/src/ThirdParty/NHibernate.Cache.DynamicCacheBuster/bin
/src/ThirdParty/NHibernate.Caches.Redis/obj
/src/ThirdParty/NHibernate.Caches.Redis/bin
/src/ThirdParty/Sop.Common.Serialization/obj
/src/ThirdParty/Sop.Common.Serialization/bin
###########
/src/Plugin/Sop.ConsoleBotServer/*.lic
/src/Plugin/Sop.ConsoleBotServer/obj
/src/Plugin/Sop.ConsoleBotServer/bin
