#################
## Visual Studio
#################
  
#######################
## itemDoc
###########

/src/ItemDoc.Web/Web.config
/src/.vs
/src/ItemDoc.Web/bin
/src/packages
/src/ItemDoc.Core/obj
/src/ItemDoc.Services/obj
/src/ItemDoc.Services/bin
/src/ItemDoc.Web/obj
