
<footer style="color: #7f8c8d; margin: 0; padding: 25px 0; text-align: center; margin-bottom: 60px;">
    <div class="">
        <div class="visible-lg">
            <a href="~/Home/Question" target="_blank">常见问题</a>
            &nbsp;|&nbsp;<a href="~/Home/Feedback" target="_blank">意见反馈</a>
            &nbsp;|&nbsp;<a href="~/Home/Resume" target="_blank">个人简历</a>
            &nbsp;|&nbsp;<a href="tencent://message/?uin=875207899&Site=sopcce.com&Menu=yes" target="_blank">联系我们</a>
            &nbsp;|&nbsp;<a href="http://jq.qq.com/?_wv=1027&k=29sFirf" title="青岛软件园 .NET-C#-交流" target="_blank">加入我们</a>
            &nbsp;|&nbsp;<a href="https://weibo.com/zhaoyaodexiaomaque/profile?rightmod=1&wvr=6&mod=personinfo" target="_blank">新浪微博</a>
            &nbsp;|&nbsp;<a href="~/Home/About" target="_blank">关于本站</a>
        </div>
        <div class="hidden-lg">
            <a href="~/Home/Links" target="_blank">友情链接</a>
            &nbsp;|&nbsp;<a href="~/Home/Question" target="_blank">常见问题</a>
            &nbsp;|&nbsp;<a href="~/Home/Feedback" target="_blank">意见反馈</a>
            &nbsp;|&nbsp;<a href="~/Home/Resume" target="_blank">个人简历</a>
            &nbsp;|&nbsp;<a href="~/Home/About" target="_blank">关于本站</a>
        </div>
    </div>
    <div class="">
        <div class="visible-lg">
            &copy;2014- &copy;@DateTime.Now.Year.ToString()&nbsp;
            <a href="http://www.miitbeian.gov.cn" target="_blank">
                鲁ICP备14034576号
            </a>

        </div>
        <div class="hidden-lg">
            &copy;2014- &copy;@DateTime.Now.Year.ToString()&nbsp;
            <a href="#" target="_blank">
                鲁ICP备14034576号
            </a>

        </div>
    </div>
</footer>
