@using Sop.Core.Mvc.SystemMessage
@{
    ViewBag.Title = "Sop小秋";

    var postView = ViewData.Get<List<PostViewModel>>("postView", new List<PostViewModel>());
    ViewBag.Description = "我是@ViewBag.Description";
}

@section heads {

}
@section scripts {
}

<style>
    .projects-header, .caption {
        text-align: center;
    }

        .projects-header h2 {
            color: #f8b700;
        }

        .caption p {
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            /*text-indent: 25px*/
        }

        .caption a {
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 54px;
        }

            .caption a:focus, .caption a:hover {
                color: #23527c;
                text-decoration: none;
            }

    .thumbnail {
        height: 337px;
    }
</style>
<div>


    <div class=""> 
        <div class="projects-header page-header">
            <h2>让我们带上红领巾，供养社会主义价值观</h2>
            <p>宁交一个抬杠的鬼 也不要一个嘴甜的贼</p>
        </div> 
        <div class="row">
            @for (int i = 0; i < (postView.Count > 12 ? 12 : postView.Count); i++)
            {
                var info = postView.ElementAt(i);
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                    <div class="thumbnail">
                        <a href="/P/@info.Id" title="@info.Title" target="_blank">
                            <img class="" src="~/Content/understanding-flexbox-3.gif" width="300" height="150" data-src="#" alt="@info.Title">
                        </a>
                        <div class="caption">
                            <h3>
                                <a href="#" title="@info.Title" target="_blank">
                                    @info.Title
                                </a>
                            </h3>
                            <p class="">&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <hr>
    <br />
    <div class="jumbotron">
        <h1 class="text-center">Thank you for your visit .</h1>
        <hr />
        <p>
            My name is Guojiaqiu, You can call me SopQ .
            I am a .Net Software Engineer .

        </p>
        <p>I am familiar with proficient in software development. C# and .NET  software development , Oracle 、MySQL、MS SQL  Database</p>
        <p>In spare time, I like reading book, surfing internet, watching movie and taking a leisurely walk outdoors.</p>
        <p class="text-center">
            <a class="btn btn-danger" href="http://sj.qq.com/myapp/detail.htm?apkName=com.sopcce.sopapp" title="下载安卓客户端" target="_blank" style="font-size: 22px; font-family: Georgia; ">
                <img src="~/assets/images/Android.png" width="32" /> 下载安卓客户端
            </a>
        </p>
    </div>
    <hr>


    <div class="well">
        <p>1、只有登上山顶，才能看到那边的风光。</p>
        <p>2、骏马是跑出来的，强兵是打出来的。</p>
        <p>3、驾驭命运的舵是奋斗。不抱有一丝幻想，不放弃一点机会，不停止一日努力。</p>
        <p>4、如果惧怕前面跌宕的山岩，生命就永远只能是死水一潭。</p>
        <p>5、懦弱的人只会裹足不前，莽撞的人只能引为烧身，只有真正勇敢的人才能所向披靡。</p>
        <p>6、我们这个世界，从不会给一个伤心的落伍者颁发奖牌。</p>
        <p>7、梯子的梯阶从来不是用来搁脚的，它只是让人们的脚放上一段时间，以便让别一只脚能够再往上登。</p>
    </div>
    <hr>
    <div class="panel panel-info visible-md visible-lg">
        <div class="panel-heading">
            <h2 class="panel-title">
                friendly link
                <small>
                    <a href="~/Home/Links">友 情 链 接</a>
                </small>
            </h2>
        </div>
        <div class="panel-body">
            <ul class="list-inline sop-avatar-small">

                <li>
                    <img alt="" src="http://q.qlogo.cn/qqapp/101274677/E6E4800A79C289E4D38B37EF5038C50E/100" class="img-circle">
                    <a href="http://www.zhufengjun.com/" title="朱丰军的博客" target="_blank">朱丰军的博客</a>
                </li>
                <li>
                    <img alt="" src="http://www.zhaoyanxiang.com/favicon.ico" class="img-circle">
                    <a href="http://www.zhaoyanxiang.com/" title="赵延祥的博客" target="_blank">赵延祥的博客</a>
                </li>
                <li>
                    <img alt="" src="http://q.qlogo.cn/qqapp/101274677/CF594494A87ED4E537C3510053691BA1/100" class="img-circle">
                    <a href="http://www.panxublog.com/" title="潘旭的博客" target="_blank">潘旭的博客</a>
                </li>

            </ul>
        </div>
    </div>



</div>
<style>
    .sop-avatar-small img {
        width: 32px;
        height: 32px
    }
</style>

<script>

</script>

