@{
    Layout = null;
}
 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowImage</title>
</head>
<body>
    <div>
        @foreach (ImageServerInfo serverInfo in (List< ImageServerInfo >)ViewData["imageList"])
        {
            foreach (ImageInfo imageInfo in serverInfo.ImageInfo)
            {
                <img  src="@string.Format("http://{0}{1}",serverInfo.ServerUrl,imageInfo.ImageName)"/>
            }
        }
    </div>
</body>
</html>
