<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			
			<aspNetCore processPath=".\Web.exe" stdoutLogEnabled="true" stdoutLogFile="logs\stdout"  >
				<environmentVariables>
					<!-- <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" /> -->
					 <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 324e8d78-23bf-4571-8851-0b237e02f25b-->