
@{
    ViewData["Title"] = "英文大小写在线转换";
    TempData["keywords"] = "26个英文字母表,26个字母大小写及字母,英文大小写在线转换,英文字母大写,英文字母小写转换工具,开源的工具网站.";
    TempData["description"] = "26个英文字母表(大小写Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz顺序)，26个英语,能将英文字母全部转换为大写或者小写，或者将英文句子转换成首字母大写,开源的工具网站";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/js/tools.js"></script>
}
@section Styles{
    <link href="~/css/tools.css" rel="stylesheet" />
}
<hr />
<div class="col-md-9">
    <h1 hidden>英文大小写在线转换,英文字母大写,英文字母小写转换工具|英文大小写转换</h1>
    <div class="card">
        <div class="card-header"><h3>英文大小写转换</h3></div>
        <div class="card-body">
            <div class="btn-group-lg">
                <button type="button" onclick="doUpperCase();" class="btn btn-outline-success">全部大写</button>
                <button type="button" onclick="doLowerCase();" class="btn btn-outline-success">全部小写</button>
                <button type="button" onclick="doFirstCase();" class="btn btn-outline-success">首字母大写</button>
                <button type="button" onclick="reset();" class="btn btn-outline-warning">清空内容</button>
            </div>
            <div style="margin-top: 20px">
                <textarea name="txtContent" style="width: 99%" rows="7" id="txtContent" placeholder="请把你需要转换的内容粘贴在这里"></textarea>
            </div>
            <fieldset class="card-title" style="margin-top: 30px;">
                <legend>相关知识</legend>
                <blockquote class="card-body text-primary">
                    英文字母，即英文（English）所基于的字母，共26个。
                </blockquote>
            </fieldset>
            <div class="card-footer">
                <div class="letter-table">
                    <ul>
                        <li>
                            <a href="#" name="a" title="鼠标停留发音.." mp3="/en-letter/a.mp3">Aa</a>
                            <a href="#" name="b" title="鼠标停留发音.." mp3="/en-letter/b.mp3">Bb</a>
                            <a href="#" name="c" title="鼠标停留发音.." mp3="/en-letter/c.mp3">Cc</a>
                            <a href="#" name="d" title="鼠标停留发音.." mp3="/en-letter/d.mp3">Dd</a>
                            <a href="#" name="e" title="鼠标停留发音.." mp3="/en-letter/e.mp3">Ee</a>
                            <a href="#" name="f" title="鼠标停留发音.." mp3="/en-letter/f.mp3">Ff</a>
                            <a href="#" name="g" title="鼠标停留发音.." mp3="/en-letter/g.mp3">Gg</a>
                            <a href="#" name="h" title="鼠标停留发音.." mp3="/en-letter/h.mp3">Hh</a>
                            <a href="#" name="i" title="鼠标停留发音.." mp3="/en-letter/i.mp3">Ii</a>
                        </li>
                        <li>
                            <a href="#" name="j" title="鼠标停留发音.." mp3="/en-letter/j.mp3">Jj</a>
                            <a href="#" name="k" title="鼠标停留发音.." mp3="/en-letter/k.mp3">Kk</a>
                            <a href="#" name="l" title="鼠标停留发音.." mp3="/en-letter/l.mp3">Ll</a>
                            <a href="#" name="m" title="鼠标停留发音.." mp3="/en-letter/m.mp3">Mm</a>
                            <a href="#" name="n" title="鼠标停留发音.." mp3="/en-letter/n.mp3">Nn</a>
                            <a href="#" name="o" title="鼠标停留发音.." mp3="/en-letter/o.mp3">Oo</a>
                            <a href="#" name="p" title="鼠标停留发音.." mp3="/en-letter/p.mp3">Pp</a>
                            <a href="#" name="q" title="鼠标停留发音.." mp3="/en-letter/q.mp3">Qq</a>
                            <a href="#" name="r" title="鼠标停留发音.." mp3="/en-letter/r.mp3">Rr</a>
                        </li>
                        <li>
                            <a href="#" name="s" title="鼠标停留发音.." mp3="/en-letter/s.mp3">Ss</a>
                            <a href="#" name="t" title="鼠标停留发音.." mp3="/en-letter/t.mp3">Tt</a>
                            <a href="#" name="u" title="鼠标停留发音.." mp3="/en-letter/u.mp3">Uu</a>
                            <a href="#" name="w" title="鼠标停留发音.." mp3="/en-letter/w.mp3">Ww</a>
                            <a href="#" name="x" title="鼠标停留发音.." mp3="/en-letter/x.mp3">Xx</a>
                            <a href="#" name="y" title="鼠标停留发音.." mp3="/en-letter/y.mp3">Yy</a>
                            <a href="#" name="z" title="鼠标停留发音.." mp3="/en-letter/z.mp3">Zz</a>
                        </li>
                    </ul>
                </div>
                <div class="letter_biao">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="3" cellspacing="1" width="100%">
                                        <tbody>
                                            <tr>
                                                <th height="28">大小写</th>
                                                <th>音标</th>
                                                <th>大小写</th>
                                                <th>音标</th>
                                                <th>大小写</th>
                                                <th>音标</th>
                                                <th>大小写</th>
                                                <th>音标</th>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/a.mp3" title="鼠标停留发音..">A a</td>
                                                <td mp3="/en-letter/a.mp3" title="鼠标停留发音..">[ei]</td>
                                                <td class="letter" mp3="/en-letter/b.mp3" title="鼠标停留发音..">B b</td>
                                                <td mp3="/en-letter/b.mp3" title="鼠标停留发音..">[bi:]</td>
                                                <td class="letter" mp3="/en-letter/c.mp3" title="鼠标停留发音..">C c</td>
                                                <td mp3="/en-letter/c.mp3" title="鼠标停留发音..">[si:]</td>
                                                <td class="letter" mp3="/en-letter/d.mp3" title="鼠标停留发音..">D d</td>
                                                <td mp3="/en-letter/d.mp3" title="鼠标停留发音..">[di:]</td>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/e.mp3" title="鼠标停留发音..">E e</td>
                                                <td mp3="/en-letter/e.mp3" title="鼠标停留发音..">[i:]</td>
                                                <td class="letter" mp3="/en-letter/f.mp3" title="鼠标停留发音..">F f</td>
                                                <td mp3="/en-letter/f.mp3" title="鼠标停留发音..">[ef]</td>
                                                <td class="letter" mp3="/en-letter/g.mp3" title="鼠标停留发音..">G g</td>
                                                <td mp3="/en-letter/g.mp3" title="鼠标停留发音..">[dʒi:]</td>
                                                <td class="letter" mp3="/en-letter/h.mp3" title="鼠标停留发音..">H h</td>
                                                <td mp3="/en-letter/h.mp3" title="鼠标停留发音..">[eit∫]</td>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/i.mp3" title="鼠标停留发音..">I i</td>
                                                <td mp3="/en-letter/i.mp3" title="鼠标停留发音..">[ai]</td>
                                                <td class="letter" mp3="/en-letter/j.mp3" title="鼠标停留发音..">J j</td>
                                                <td mp3="/en-letter/j.mp3" title="鼠标停留发音..">[dʒei]</td>
                                                <td class="letter" mp3="/en-letter/k.mp3" title="鼠标停留发音..">K k</td>
                                                <td mp3="/en-letter/k.mp3" title="鼠标停留发音..">[kei]</td>
                                                <td class="letter" mp3="/en-letter/l.mp3" title="鼠标停留发音..">L l</td>
                                                <td mp3="/en-letter/l.mp3" title="鼠标停留发音..">[el]</td>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/m.mp3" title="鼠标停留发音..">M m</td>
                                                <td mp3="/en-letter/m.mp3" title="鼠标停留发音..">[em]</td>
                                                <td class="letter" mp3="/en-letter/n.mp3" title="鼠标停留发音..">N n</td>
                                                <td mp3="/en-letter/n.mp3" title="鼠标停留发音..">[en]</td>
                                                <td class="letter" mp3="/en-letter/o.mp3" title="鼠标停留发音..">O o</td>
                                                <td mp3="/en-letter/o.mp3" title="鼠标停留发音..">[əu]</td>
                                                <td class="letter" mp3="/en-letter/p.mp3" title="鼠标停留发音..">P p</td>
                                                <td mp3="/en-letter/p.mp3" title="鼠标停留发音..">[pi:]</td>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/q.mp3" title="鼠标停留发音..">Q q</td>
                                                <td mp3="/en-letter/q.mp3" title="鼠标停留发音..">[kju:]</td>
                                                <td class="letter" mp3="/en-letter/r.mp3" title="鼠标停留发音..">R r</td>
                                                <td mp3="/en-letter/r.mp3" title="鼠标停留发音..">[ɑ:]</td>
                                                <td class="letter" mp3="/en-letter/s.mp3" title="鼠标停留发音..">S s</td>
                                                <td mp3="/en-letter/s.mp3" title="鼠标停留发音..">[es]</td>
                                                <td class="letter" mp3="/en-letter/t.mp3" title="鼠标停留发音..">T t</td>
                                                <td mp3="/en-letter/t.mp3" title="鼠标停留发音..">[ti:]</td>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/u.mp3" title="鼠标停留发音..">U u</td>
                                                <td mp3="/en-letter/u.mp3" title="鼠标停留发音..">[ju:]</td>
                                                <td class="letter" mp3="/en-letter/v.mp3" title="鼠标停留发音..">V v</td>
                                                <td mp3="/en-letter/v.mp3" title="鼠标停留发音..">[vi:]</td>
                                                <td class="letter" mp3="/en-letter/w.mp3" title="鼠标停留发音..">W w</td>
                                                <td mp3="/en-letter/w.mp3" title="鼠标停留发音..">[′d∧blju:] </td>
                                                <td class="letter" mp3="/en-letter/x.mp3" title="鼠标停留发音..">X x</td>
                                                <td mp3="/en-letter/x.mp3" title="鼠标停留发音..">[eks]</td>
                                            </tr>
                                            <tr>
                                                <td height="26" class="letter" mp3="/en-letter/y.mp3" title="鼠标停留发音..">Y y</td>
                                                <td mp3="/en-letter/y.mp3" title="鼠标停留发音..">[wai]</td>
                                                <td class="letter" mp3="/en-letter/z.mp3" title="鼠标停留发音..">Z z</td>
                                                <td mp3="/en-letter/z.mp3" title="鼠标停留发音..">[zi:][zed]</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    asd
</div>
