@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container ">
    <div class="error-page" style="margin-top:280px;">
        <h2 class="headline text-yellow"> 404</h2>
        <div class="error-content">

            <h1 class="text-danger"><i class="fa fa-warning text-yellow"></i>
            TMD！页面怎么不见了？</h1>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="~/Home/Index">返回首页</a> or try using the search form.
            </p>
        </div>
        
    </div>

</div>



