@{
    ViewBag.Title = "zhuzhuzhuzh";
}

@section heads {
}
@section scripts {
}


<div>
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <hr>
    <div class="jumbotron">
        <h1 class="text-center">Thank you for your visit .</h1>
        <hr />
        <p>
            My name is Guojiaqiu, You can call me SopQ .
            I am a .Net Software Engineer .

        </p>
        <p>I am familiar with proficient in software development. C# and .NET  software development , Oracle 、MySQL、MS SQL  Database</p>
        <p>In spare time, I like reading book, surfing internet, watching movie and taking a leisurely walk outdoors.</p>
        <p class="text-center">
            <a class="btn btn-danger" href="http://sj.qq.com/myapp/detail.htm?apkName=com.sopcce.sopapp" title="下载安卓客户端" target="_blank" style="font-size: 22px; font-family: Georgia; ">
                <img src="~/assets/images/Android.png" width="32" /> 下载安卓客户端 
            </a>
        </p>
    </div>
    <hr>


    <div class="well">
        <p>1、只有登上山顶，才能看到那边的风光。</p>
        <p>2、骏马是跑出来的，强兵是打出来的。</p>
        <p>3、驾驭命运的舵是奋斗。不抱有一丝幻想，不放弃一点机会，不停止一日努力。</p>
        <p>4、如果惧怕前面跌宕的山岩，生命就永远只能是死水一潭。</p>
        <p>5、懦弱的人只会裹足不前，莽撞的人只能引为烧身，只有真正勇敢的人才能所向披靡。</p>
        <p>6、我们这个世界，从不会给一个伤心的落伍者颁发奖牌。</p>
        <p>7、梯子的梯阶从来不是用来搁脚的，它只是让人们的脚放上一段时间，以便让别一只脚能够再往上登。</p>
    </div>
    <hr>
    <div class="panel panel-info visible-md visible-lg">
        <div class="panel-heading">
            <h2 class="panel-title">
                friendly link
                <small>
                    <a href="~/Home/Links">友 情 链 接</a>
                </small>
            </h2>
        </div>
        <div class="panel-body">
            <ul class="list-inline sop-avatar-small">

                <li>
                    <img alt="" src="http://q.qlogo.cn/qqapp/101274677/E6E4800A79C289E4D38B37EF5038C50E/100" class="img-circle">
                    <a href="http://www.zhufengjun.com/" title="朱丰军的博客" target="_blank">朱丰军的博客</a>
                </li>
                <li>
                    <img alt="" src="http://www.zhaoyanxiang.com/favicon.ico" class="img-circle">
                    <a href="http://www.zhaoyanxiang.com/" title="赵延祥的博客" target="_blank">赵延祥的博客</a>
                </li>
                <li>
                    <img alt="" src="http://q.qlogo.cn/qqapp/101274677/CF594494A87ED4E537C3510053691BA1/100" class="img-circle">
                    <a href="http://www.panxublog.com/" title="潘旭的博客" target="_blank">潘旭的博客</a>
                </li>

            </ul>
        </div>
    </div>



</div>
<style>
    .sop-avatar-small img {
        width: 32px;
        height: 32px
    }
</style>

<script>

</script>

