
@{
    ViewBag.Title = "De";
    // Layout = "~/Views/Home/_CommonLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我屮艸芔茻</title>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>




    <script src="~/scripts/ueditor/third-party/jquery-1.10.2.min.js"></script>



</head>
<body>
<div class="wrapper">
    
    <h1>
        开发测试页面，你能找到这个页面我也是服了你了，你好666
    </h1>

    <div style="width: 90%; margin: 0 auto; border: 1px solid red;">

        <input type="text" id="login" value="123"/>
        <input type="button" id="btnlogin" value="登录"/>
        <h1></h1>
        <ul>
            <li>
                <a href="~/Blogs/BlogsPost" target="_blank">发帖</a>
            </li>
            <li>
                <a href="~/ConsoleHomeManage/Index" target="_blank">后台管理页面</a>
            </li>

            <li>
                <a href="@SiteUrls.Instance().UserRegister()" target="_blank">注册页面</a>

            </li>

            <li>
                <a href="~/Home/Alipay?out_trade_no=&subject=123" target="_blank">支付宝</a>

            </li>

            <li>
                <a href="~/ConsoleSettings/Express" target="_blank">快递支持</a>

            </li>
            <li>
                <a href="~/ConsoleBlogsManage/ManageCateories" target="_blank">栏目管理</a>
            </li>
            <li>
                <a href="~/ConsoleHomeManage/Index1" target="_blank">后台管理页面11111</a>
                <a href="~/ConsoleHomeManage/Index2" target="_blank">后台管理页面222222</a>
            </li>
            <li>

            </li>
        </ul>
    </div>



    <script src="~/scripts/jquery/plupload/js/plupload.js"></script>
    <script src="~/scripts/jquery/plupload/js/i18n/zh_CN.js"></script>



</div>
    <h1 id="123123weqe">Custom example</h1>
    <p>Shows you how to use the core plupload API.</p>
    <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
    <br />
    <div id="container">
        <a id="pickfiles" href="javascript:;">[Select files]</a>
        <a id="uploadfiles" href="javascript:;">[Upload files]</a>
    </div>
<br />


<pre id="console"></pre>
    <script type="text/javascript">
        // Custom example logic

        var uploader = new plupload.Uploader({
            runtimes: 'html5,flash,silverlight,html4',
            browse_button: 'pickfiles', // you can pass an id...
            container: document.getElementById('container'), // ... or DOM Element itself
            url: '/Attachment/Upload',
            flash_swf_url: '/scripts/jquery/plupload/js/Moxie.swf',
            silverlight_xap_url: '/scripts/jquery/plupload/js/Moxie.xap',
            views: {
                list: true,
                thumbs: true, // Show thumbs
                active: 'thumbs'
            },
            // Rename files by clicking on their titles
            rename: true,

            // Sort files
            sortable: true,

            // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
            dragdrop: true,
            filters: {
                max_file_size: '10mb',
                mime_types: [
                    { title: "Image files", extensions: "jpg,gif,png" },
                    { title: "Zip files", extensions: "zip" }
                ]
            },

            init: {
                PostInit: function () {
                    document.getElementById('filelist').innerHTML = '';

                    document.getElementById('uploadfiles').onclick = function () {
                        uploader.start();
                        return false;
                    };
                },

                FilesAdded: function (up, files) {
                    plupload.each(files, function (file) {
                        document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                    });
                },

                UploadProgress: function (up, file) {
                    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                },

                Error: function (up, err) {
                    document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
                }
            }
        });

        uploader.init();
       //// / Handle the case when form was submitted before uploading has finished
       // $('#123123weqe').click(function () {
       //     // Files in queue upload them first
       //     if ($('#uploader').plupload('getFiles').length > 0) {

       //         // When all files are uploaded submit form
       //         $('#uploader').on('complete', function() {
       //             $('#form')[0].submit();
       //         });

       //         $('#uploader').plupload('start');
       //     } else {
       //         alert("You must have at least one file in the queue.");
       //     }
       //     return false; // Keep the form from submitting
       // });
    </script>

</body>
</html>
