@using Google.Protobuf.WellKnownTypes

@{
    ViewBag.Title = "Test";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr/>
 @DateTime.Now.Ticks
<h4>
    <a href="~/api/v1/test" target="_blank">接口测试输出1</a>
     
</h4>
