
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>生产ID</h1>
<input type="text" id="create_text" value="1" />
<input type="submit" id="Create" value="生产身份证ID" />
<div id="create_result" style="color: red; height: 120px;">

</div>
<a href="/id/Create?code=3">dsad</a>
@section Scripts{
    <script type="text/javascript">
        $("#Create").on("click",
            function () {
                var code = $("#create_text").val();
                if (code === "") {
                    return alert("code is null");
                }
                $.post("/Id/Create", { code: code }, function (result) {

                    $("#create_result").html(result);
                });


            });
    </script>
}


