 <div class="list-group">
    <a href="#" class="list-group-item disabled">个人设置</a> 
    <a href="#" class="list-group-item active">简介（profile）</a>
    <a href="#" class="list-group-item">账号（Account）</a>
    <a href="@SiteUrls.Instance().AccountResetPassword()" class="list-group-item">ResetPassword</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>