@model List<Sop.Domain.Entity.UserFeatures>

<div id="fh5co-features" class="animate-box">
    <div class="container">
        <div class="services-padding">
            <div class="row">
                <div class="m-auto p-5 text-center fh5co-heading">
                    <h2>My Services</h2>
                </div>
            </div>

            <div class="row">
                @for (var i = 0; i < 3; i++)
                {
                    var item = Model.ElementAtOrDefault(i);
                    <div class="col-md-4 text-center">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="@item?.Icon"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>@item?.Title</h3>
                                <p>@item?.Describe</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @for (var i = 3; i < 6; i++)
                {
                    var item = Model.ElementAtOrDefault(i);
                    <div class="col-md-4 text-center">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="@item?.Icon"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>@item?.Title</h3>
                                <p>@item?.Describe</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>