@model Sop.Domain.Entity.UserAbout


<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url('@Model.BackgroundImages');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="m-0 m-auto text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <div class="profile-thumb" style="background: url('@Model.AvatarImages');"></div>
                        <h1>
                            <span>@Model.FriendlyName</span>
                        </h1>
                        <h3>
                            <span>@Model.ProfessionalTag</span>
                        </h3>
                        <div class="m-5">
                            <ul class="fh5co-social-icons">
                                <li>
                                    <a href="#">
                                        <i class="icon-twitter2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-facebook2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-linkedin2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-dribbble2"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>