@model List<Sop.Domain.Entity.UserProject>


<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="m-auto p-5 text-center fh5co-heading">
                <h2>Post on Medium</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#" class="blog-bg" style="background-image: url(images/portfolio-1.jpg);"></a>
                    <div class="blog-text">
                        <span class="posted_on">Mar. 15th 2016</span>
                        <h3>
                            <a href="#">Photoshoot On The Street</a>
                        </h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="stuff">
                            <li><i class="icon-heart2"></i>249</li>
                            <li><i class="icon-eye2"></i>308</li>
                            <li>
                                <a href="#">Read More<i class="icon-arrow-right22"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#" class="blog-bg" style="background-image: url(images/portfolio-2.jpg);"></a>
                    <div class="blog-text">
                        <span class="posted_on">Mar. 15th 2016</span>
                        <h3>
                            <a href="#">Surfing at Philippines</a>
                        </h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="stuff">
                            <li><i class="icon-heart2"></i>249</li>
                            <li><i class="icon-eye2"></i>308</li>
                            <li>
                                <a href="#">Read More<i class="icon-arrow-right22"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#" class="blog-bg" style="background-image: url(images/portfolio-3.jpg);"></a>
                    <div class="blog-text">
                        <span class="posted_on">Mar. 15th 2016</span>
                        <h3>
                            <a href="#">Capture Living On Uderwater</a>
                        </h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="stuff">
                            <li><i class="icon-heart2"></i>249</li>
                            <li><i class="icon-eye2"></i>308</li>
                            <li>
                                <a href="#">Read More<i class="icon-arrow-right22"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

