
.navbar-wrapper {
    margin-top: 60px;
    position: relative;
    z-index: 15;
}

    .navbar-wrapper .navbar.navbar-inverse.navbar-static-top {
        background: #5cb85c;
        border-color: #398439;
    }

        .navbar-wrapper .navbar.navbar-inverse.navbar-static-top a {
            color: #fff;
        }

.navbar.navbar-inverse.navbar-static-top a:hover {
    color: #0A64A4;
}

.navbar-wrapper .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
    background: #398439;
    font-weight: 700;
}

    .navbar-wrapper .navbar-inverse .navbar-nav > .active > a:hover {
        background: #398439;
        color: #fff;
        font-weight: 700;
    }

.featurette {
    height: 800px;
    border: 2px red solid;
    /*margin-top: 200px;*/
}
