
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <meta charset="UTF-8">

</head>
<body>
    <div id="app">
        <el-button @@click="visible = true">Button</el-button>
        <el-dialog :visible.sync="visible" title="Hello world">
            <p>Try Element</p>
        </el-dialog>
    </div>
    <hr />
    <div id="app_1">
        <el-upload action="/upload/Files/"
                   list-type="picture-card"
                   :on-preview="handlePictureCardPreview"
                   :on-remove="handleRemove">
            <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt>
        </el-dialog>
    </div>
    <hr />
    <div id="app_2">
        <el-upload class="upload-demo"
                   action="https://jsonplaceholder.typicode.com/posts/"
                   :on-preview="handlePreview"
                   :on-remove="handleRemove"
                   :file-list="fileList2"
                   list-type="picture">
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div>
    <!--vue 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--vue 生产环境版本，优化了尺寸和速度
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/assets/lib/sopcce.com/main.js"></script>
    <script>
        app();
        function app() {

            new Vue({
                el: '#app',
                data: function () {
                    return { visible: false }
                }
            })
            var Ctor1 = Vue.extend({
                data() {
                    return {
                        dialogImageUrl: '',
                        dialogVisible: false
                    };
                },
                methods: {
                    handleRemove(file, fileList) {
                        console.log(file, fileList);
                    },
                    handlePictureCardPreview(file) {
                        debugger
                        console.log(file);
                        this.dialogImageUrl = file.url;
                        this.dialogVisible = true;
                    }
                }
            });
            new Ctor1().$mount('#app_1');

            var Ctor2 = Vue.extend({
                data() {
                    return {
                        fileList2: [{
                            name: 'food.jpeg',
                            url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
                        }, {
                            name: 'food2.jpeg',
                            url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
                        }]
                    };
                },
                methods: {
                    handleRemove(file, fileList) {
                        console.log(file, fileList);
                    },
                    handlePreview(file) {
                        console.log(file);
                    }
                }
            });
            new Ctor2().$mount('#app_2');
        }

    </script>
</body>

</html>
