<?xml version="1.0" encoding="utf-8"?>
<Roots Name="简体中文" IsDefault="true" >
  <Item Name="AdminEmail" CnName="代理名称">
    <Proxys>
      <Proxy Link="http://www.xicidaili.com/nt/1" Rule=""  XPath="" ></Proxy>
      <Proxy Link="http://www.kuaidaili.com/proxylist/1" Rule=""  XPath=""></Proxy>
      <Proxy Link="http://www.cz88.net/proxy" Rule="" XPath=""></Proxy> 
    </Proxys>
  </Item>
  <Item Name="AdminEmail">
    <Value>管理员邮箱</Value>
  </Item>
  <Item Name="Tooltip2">
    <Value>完成这个向导，你必须知道如何连接数据库("即连接字符串").如有必要，请联系你的服务提供商。如果在本机或服务器上安装，你可能还需要一些管理员的信息 .</Value>
  </Item>

</Roots>