
<div class="form-signin">
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        @Html.ValidationMessageFor(n => n.UserLoginName)
        @Html.ValidationMessageFor(n => n.UserLoginPassWord)
        @Html.ValidationMessageFor(n => n.UserLoginCaptchaCode)
       
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    }
</div>


