
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*
 * Blog name and description
 */



.blog-post h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 18px;
    width: 100%;
    color: #999;
    float: left;
    text-indent: 40px;
    height: auto;
    border-bottom: 2px #eee solid;
}

.blog-content {
    color: #626773;
    font-size: 18px;
    line-height: 2;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
    float: none;
    margin-top: 60px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }



/*
 * Blog posts
 */



.blog-post-title {
    /* margin-bottom: 5px; */
    font-size: 40px;
    float: none;
    margin-top: 1px;
}

.blog-post-meta {
    color: #999;
    width: 100%;
    float: left;
    margin-top: 1px;
    height: 36px;
    border-bottom: 1px #eee dashed;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
}

    .blog-post-meta p {
        float: left;
        margin-right: 20px;
    }

/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

    .blog-footer p:last-child {
        margin-bottom: 0;
    }
