<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="我是@ViewBag.Description">
    <meta name="author" content="">
    <title>Sop小秋----最懂你的项目网</title>
    <!-- Bootstrap core CSS -->
    <link href="../../wwwroot/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../../wwwroot/css/common.css" rel="stylesheet">

    <!--[if lt IE 9]>
       <script src="~/assets/html5shiv/html5shiv.min.js"></script>
       <script src="~/assets/respond.js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sop-top-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Itemdream</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse sop-man-nav">
                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">主页</a></li>
                    <li><a href="#">工具</a></li>
                    <li><a href="#">项目</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">爬虫</a></li>
                            <li><a href="#">工具</a></li>
                            <li><a href="#">项目</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登陆</a></li>
                    <li><a href="#">注册</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">



        <div class="well">
            <p>1、只有登上山顶，才能看到那边的风光。</p>
            <p>2、骏马是跑出来的，强兵是打出来的。</p>
            <p>3、驾驭命运的舵是奋斗。不抱有一丝幻想，不放弃一点机会，不停止一日努力。</p>
            <p>4、如果惧怕前面跌宕的山岩，生命就永远只能是死水一潭。</p>
            <p>5、懦弱的人只会裹足不前，莽撞的人只能引为烧身，只有真正勇敢的人才能所向披靡。</p>
            <p>6、我们这个世界，从不会给一个伤心的落伍者颁发奖牌。</p>
            <p>7、梯子的梯阶从来不是用来搁脚的，它只是让人们的脚放上一段时间，以便让别一只脚能够再往上登。</p>
        </div>
        <hr>
        <div class="panel panel-info visible-md visible-lg">
            <div class="panel-heading">
                <h2 class="panel-title">
                    friendly link
                    <small>
                    <a href="/Home/Links">友 情 链 接</a>
                </small>
                </h2>
            </div>
            <div class="panel-body">
                <ul class="list-inline sop-avatar-small">

                    <li>
                        <img alt="" src="http://q.qlogo.cn/qqapp/101274677/E6E4800A79C289E4D38B37EF5038C50E/100" class="img-circle">
                        <a href="http://www.zhufengjun.com/" title="朱丰军的博客" target="_blank">朱丰军的博客</a>
                    </li>
                    <li>
                        <img alt="" src="http://www.zhaoyanxiang.com/favicon.ico" class="img-circle">
                        <a href="http://www.zhaoyanxiang.com/" title="赵延祥的博客" target="_blank">赵延祥的博客</a>
                    </li>
                    <li>
                        <img alt="" src="http://q.qlogo.cn/qqapp/101274677/CF594494A87ED4E537C3510053691BA1/100" class="img-circle">
                        <a href="http://www.panxublog.com/" title="潘旭的博客" target="_blank">潘旭的博客</a>
                    </li>

                </ul>
            </div>
        </div>



    </div>
    <style>
        .sop-avatar-small img {
            width: 32px;
            height: 32px
        }
    </style>

    <script>
    </script>


    <hr>

    <footer style="color: #7f8c8d; margin: 0; padding: 25px 0; text-align: center; margin-bottom: 60px;">
        <div class="">
            <div class="visible-lg">
                <a href="/Home/Question" target="_blank">常见问题</a> &nbsp;|&nbsp;
                <a href="/Home/Feedback" target="_blank">意见反馈</a> &nbsp;|&nbsp;
                <a href="/Home/Resume" target="_blank">个人简历</a> &nbsp;|&nbsp;
                <a href="tencent://message/?uin=875207899&amp;Site=sopcce.com&amp;Menu=yes" target="_blank">联系我们</a> &nbsp;|&nbsp;
                <a href="http://jq.qq.com/?_wv=1027&amp;k=29sFirf" title="青岛软件园 .NET-C#-交流" target="_blank">加入我们</a> &nbsp;|&nbsp;
                <a href="https://weibo.com/zhaoyaodexiaomaque/profile?rightmod=1&amp;wvr=6&amp;mod=personinfo" target="_blank">新浪微博</a> &nbsp;|&nbsp;
                <a href="/Home/About" target="_blank">关于本站</a>
            </div>
            <div class="hidden-lg">
                <a href="/Home/Links" target="_blank">友情链接</a> &nbsp;|&nbsp;
                <a href="/Home/Question" target="_blank">常见问题</a> &nbsp;|&nbsp;
                <a href="/Home/Feedback" target="_blank">意见反馈</a> &nbsp;|&nbsp;
                <a href="/Home/Resume" target="_blank">个人简历</a> &nbsp;|&nbsp;
                <a href="/Home/About" target="_blank">关于本站</a>
            </div>
        </div>
        <div class="">
            <div class="visible-lg">
                ©2014- ©2019&nbsp;
                <a href="http://www.miitbeian.gov.cn" target="_blank">
                鲁ICP备14034576号
            </a>

            </div>
            <div class="hidden-lg">
                ©2014- ©2019&nbsp;
                <a href="#" target="_blank">
                鲁ICP备14034576号
            </a>

            </div>
        </div>
    </footer>

    </div>




    <div style="position: fixed; bottom: 20px; right: 25px; width: 40px; height: 40px; color: rgb(238, 238, 238); line-height: 40px; text-align: center; background-color: rgb(34, 45, 50); cursor: pointer; border-radius: 5px; z-index: 99999; opacity: 0.7; display: none;"><i class="fa fa-chevron-up"></i></div>
</body>

</html>