@{
    ViewBag.Title = "_ProfileHeader";
}

<link href="~/Content/css/user.css?v=12312" rel="stylesheet" />
<div id="ProfileHeader">
    <div class="ProfileCard Profile">
        <div id="ProfileHeader-userCover ">
            <div class="ProfileUserCoverEditor">
                <div>
                    <button type="button" class="UserCoverEditor-EditButton button">
                        <i class="fa fa-camera"></i>
                        编辑封面图片
                    </button>
                    <div class="ProfileUserCover">
                        <img class="ProfileUserCover-image" width="1000" src="~/upload/bak.jpg" alt="用户封面">

                    </div>
                </div>

            </div>
        </div>
        <div id="ProfileHeader-wrapper">
            <div class="">
                <div class="person_info_con">
                    <i class="fa fa-edit person-info-edit">&nbsp;修改个人资料</i>
                    
                    <dl class="person-photo">
                        <dt>
                            <a href="javascript:;">
                                
                                <img src="~/Content/logo/w_64.png" class="header"/>
                                <span class="edit_person_pic"></span>
                            </a>
                        </dt>
                        <dd class="focus_num"><b><a href="/my/follow" target="_blank">46</a></b>关注</dd>
                        <dd class="fans_num"><b><a href="/my/fans" target="_blank">1</a></b>粉丝</dd>
                    </dl>
                    <dl class="person-info">
                        <dt class="person-nick-name">
                            <span>招摇的小麻雀</span>
                        </dt>
                        <dd class="person-detail">
                            计算机软件<span>|</span>学生<span>|</span>郭家秋<span>|</span>中国-山东省-青岛市<span>|</span>男<span>|</span>1993-9-2
                        </dd>
                        <dd class="person-sign">从事ASP.NET、ASP.NET MVC 网站软件开发，涉猎移动端开发、Android、PC端。</dd>
                        <dd style="margin: 10px 0px">
                            <div class="person-status clearfix">
                                <div class="status">
                                    <span>
                                        <a href="javascript:;" class="cb">10</a>
                                        <i>币</i>
                                        <a href="https://download.csdn.net/vip_code" class="rechargeBtn">充值</a>
                                    </span>
                                    <span class="scores">
                                        
                                    </span>
                                    <span class="medals">
                                        <div class="wraper" style="width: auto"></div>
                                    </span>
                                </div>
                            </div>
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
</div>

 

