
@{
    ViewData["Title"] = "Common";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/tools.css" rel="stylesheet" />
}

<hr />
<div class="row">
    <div class="col-sm-3">
        <div class="card border-info card-info">
            <div class="card-body">
                <div class="card-hd">
                    <a target="_blank" href="/Tool/UpperAndLower" class="card-hd-icon">
                        <img src="~/img/tools/tool-Aa.png" width="48" height="48" alt="英文大小写在线转换,英文字母大写,英文字母小写转换工具">
                    </a>
                    <h3>
                        <a target="_blank" href="/Tool/UpperAndLower">英文大小写转换</a>
                    </h3>
                    <span class="card-hd-category">[便民查询]</span>
                </div>
                <div class="card-by" title="">
                    <p>
                        能将英文字母全部转换为大写或者小写，或者将英文句子转换成首字母大写。
                    </p>
                </div>
                <div calss="card-fl">
                    <a target="_blank" class="card-btn mr-auto" href="/Tool/UpperAndLower">进入</a>
                   
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 sop-card">
        <div class="card border-info">
            <div class="card-body">
                <div class="card-hd">
                    <a target="_blank" href="/Tool/CardNumber" class="card-hd-icon">
                        <img src="~/img/tools/tool_id.png" width="48" height="48" alt="身份证号码生成器">
                    </a>
                    <h3>
                        <a target="_blank" href="/Tool/CardNumber">身份证号码生成器</a>
                    </h3>
                    <span class="card-hd-category">[便民查询]</span>
                </div>
                <div class="card-by" title="">
                    <p>
                        身份证号码生成器，用于生产身份证号码生成器，符合身份证号码生成器
                    </p>
                </div>
                <div calss="card-fl">
                    <a target="_blank" class="card-btn ml-1" href="/Tool/UpperAndLower">进入</a>
                    <a target="_blank" class="card-btn mr-1" href="/Tool/UpperAndLower">进入</a>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-info">
            <div class="card-body">
                <div class="card-hd">
                    <a target="_blank" href="/Tool/UpperAndLower" class="card-hd-icon">
                        <img src="~/img/tools/tool-Aa.png" width="48" height="48" alt="英文大小写在线转换,英文字母大写,英文字母小写转换工具">
                    </a>
                    <h3>
                        <a target="_blank" href="/Tool/UpperAndLower">英文大小写转换</a>
                    </h3>
                    <span class="card-hd-category">[便民查询]</span>
                </div>
                <div class="card-by" title="">
                    <p>
                        能将英文字母全部转换为大写或者小写，或者将英文句子转换成首字母大写。
                    </p>
                </div>
                <div calss="card-fl">
                    <a target="_blank" class="card-btn ml-1" href="/Tool/UpperAndLower">进入</a>
                    <a target="_blank" class="card-btn mr-1" href="/Tool/UpperAndLower">进入</a>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-info">
            <div class="card-body">
                <div class="card-hd">
                    <a target="_blank" href="/Tool/UpperAndLower" class="card-hd-icon">
                        <img src="~/img/tools/tool-Aa.png" width="48" height="48" alt="英文大小写在线转换,英文字母大写,英文字母小写转换工具">
                    </a>
                    <h3>
                        <a target="_blank" href="/Tool/UpperAndLower">英文大小写转换</a>
                    </h3>
                    <span class="card-hd-category">[便民查询]</span>
                </div>
                <div class="card-by" title="">
                    <p>
                        能将英文字母全部转换为大写或者小写，或者将英文句子转换成首字母大写。
                    </p>
                </div>
                <div calss="card-fl">
                    <a target="_blank" class="card-btn ml-1" href="/Tool/UpperAndLower">进入</a>
                    <a target="_blank" class="card-btn mr-1" href="/Tool/UpperAndLower">进入</a>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-4">
        <div class="card border-info">
            <div class="card-body">
                <div class="card-hd">
                    <a target="_blank" href="/Tool/UpperAndLower" class="card-hd-icon">
                        <img src="~/img/tools/tool-Aa.png" width="48" height="48" alt="英文大小写在线转换,英文字母大写,英文字母小写转换工具">
                    </a>
                    <h3>
                        <a target="_blank" href="/Tool/UpperAndLower">英文大小写转换</a>
                    </h3>
                    <span class="card-hd-category">[便民查询]</span>
                </div>
                <div class="card-by" title="">
                    <p>
                        能将英文字母全部转换为大写或者小写，或者将英文句子转换成首字母大写。
                    </p>
                </div>
                <div calss="card-fl">
                    <a target="_blank" class="card-btn ml-1" href="/Tool/UpperAndLower">进入</a>
                    <a target="_blank" class="card-btn mr-1" href="/Tool/UpperAndLower">进入</a>
                </div>


            </div>
        </div>
    </div>

</div>

