
    <div style="position: fixed;">
        <div ga_event="left-channel-click" class="channel">
            <a href="https://www.toutiao.com/" class="logo">
                <img src="~/css2js/news_files/logo.png" alt="今日头条" style="width: 108px; height: 27px;">
            </a>

            <ul>
                <li>
                    <a href="#news_top/" target="_self" ga_event="channel_recommand_click" class="channel-item active">
                        <span>推荐</span>
                    </a>
                </li>
                 
                <li>
                    <a href="#news_hot/" target="_self" ga_event="channel_hot_click" class="channel-item">
                        <span>热点</span>
                    </a>
                </li>               
                <li>
                    <a href="#news_image/" target="_blank" ga_event="channel_image_click" class="channel-item">
                        <span>图片</span>
                    </a>
                </li>
                <li>
                    <a href="#news_tech/" target="_self" ga_event="channel_technology_click" class="channel-item">
                        <span>科技</span>
                    </a>
                </li>
                <li>
                    <a href="#news_entertainment/" target="_self" ga_event="channel_entertainment_click" class="channel-item">
                        <span>娱乐</span>
                    </a>
                </li>
                <li>
                    <a href="#news_game/" target="_self" ga_event="channel_game_click" class="channel-item">
                        <span>游戏</span>
                    </a>
                </li>
                <li>
                    <a href="#news_sports/" target="_self" ga_event="channel_sports_click" class="channel-item">
                        <span>体育</span>
                    </a>
                </li>
                <li>
                    <a href="#news_car/" target="_self" ga_event="channel_car_click" class="channel-item">
                        <span>汽车</span>
                    </a>
                </li>
                <li>
                    <a href="#news_finance/" target="_self" ga_event="channel_finance_click" class="channel-item">
                        <span>财经</span>
                    </a>
                </li>
                <li>
                    <a href="#funny/" target="_self" ga_event="channel_funny_click" class="channel-item">
                        <span>搞笑</span>
                    </a>
                </li>
                <li class="channel-more">
                    <a href="javascript:void(0);" class="channel-item">
                        <span>更多</span>
                    </a>
                    <div class="channel-more-layer">
                        <ul class="bui-box">
                            <li class="bui-left">
                                <a href="#news_military/" target="_self" ga_event="channel_military_click" class="channel-item">
                                    <span>军事</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_world/" target="_self" ga_event="channel_international_click" class="channel-item">
                                    <span>国际</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_fashion/" target="_self" ga_event="channel_fashion_click" class="channel-item">
                                    <span>时尚</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_travel/" target="_self" ga_event="channel_travel_click" class="channel-item">
                                    <span>旅游</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_discovery/" target="_self" ga_event="channel_explore_click" class="channel-item">
                                    <span>探索</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_baby/" target="_self" ga_event="channel_childcare_click" class="channel-item">
                                    <span>育儿</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_regimen/" target="_self" ga_event="channel_health_click" class="channel-item">
                                    <span>养生</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_essay/" target="_self" ga_event="channel_article_click" class="channel-item">
                                    <span>美文</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_history/" target="_self" ga_event="channel_history_click" class="channel-item">
                                    <span>历史</span>
                                </a>
                            </li>
                            <li class="bui-left">
                                <a href="#news_food/" target="_self" ga_event="channel_food_click" class="channel-item">
                                    <span>美食</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  
